@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
	<p>This is a contact list demo application written for VCA Software by <a href="mailto:chris@bremmer.ca">Chris Bremmer</a>.</p>
    <p>You can view my full resume at <a href="https://bremmer.ca" target="_blank">bremmer.ca</a></p>
	<p>View my LinkedIn profile at <a href="https://www.linkedin.com/in/cjbremmer/" target="_blank">linkedin.com/in/cjbremmer</a></p>
    <p>The tools used to build this demo:<a href="#"></a>
        <ul>
			<li>Visual Studio 2022</li>
			<li>ASP.NET Core 9.0</li>
			<li>Entity Framework Core 9.0</li>
			<li>Bootstrap 5</li>
			<li>SQL Server</li>
			<li>jQuery</li>
        </ul>
	</p>
	<p>The source for this project can be found on github.</p>
</div>
