@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We respect your privacy. We do not collect, save, sell, or use any personal information for any purpose.</p>
<p>Once this project is complete, the evaluation is over and I am hired for a bazilion dollars, the project and any data will be deleted.</p></>
<p>
    Here... have some puppies. Benny, Nugget & Russ.<br /><br />
    <img src="~/images/puppies.jpg" alt="Puppies" style="width:50%" /></p>