<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="classic-default-doc">
            <match url="^$" />
            <action type="Rewrite" url="default.asp"/>
          </rule>
          <rule name="classic-wwwroot" stopProcessing="true">
            <match url="([\S]+[.](asp|html|htm))" ignoreCase="true" />
            <action type="Rewrite" url="wwwroot/{R:1}" />
          </rule>
        </rules>
      </rewrite>
      <handlers>
        <add name="Classic ASP for *.asp" path="*.asp" verb="GET,HEAD,POST,MERGE,REPLACE,CLEAR,ABANDON" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script" />
        <add name="Classic ASP for *.htm" path="*.htm" verb="GET,HEAD,POST" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script" />
        <add name="Classic ASP for *.html" path="*.html" verb="GET,HEAD,POST" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\ContactList.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: A7F2DA28-3403-4043-955E-3468736B5B38-->